<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trade</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.trade.database.pojo.Userstatus" />
        <mapping class="com.trade.database.pojo.Loginhistory" />
        <mapping class="com.trade.database.pojo.Role" />
        <mapping class="com.trade.database.pojo.Producerprofile" />
        <mapping class="com.trade.database.pojo.Ordertracking" />
        <mapping class="com.trade.database.pojo.Privilege" />
        <mapping class="com.trade.database.pojo.Userprofile" />
        <mapping class="com.trade.database.pojo.Product" />
        <mapping class="com.trade.database.pojo.Consumerprofile" />
        <mapping class="com.trade.database.pojo.Location" />
        <mapping class="com.trade.database.pojo.Order" />
        <mapping class="com.trade.database.pojo.Address" />
        <mapping class="com.trade.database.pojo.User" />
        <mapping class="com.trade.database.pojo.Courierservice" />
        <mapping class="com.trade.database.pojo.Category" />
        <mapping class="com.trade.database.pojo.Producerbankaccount" />
        <mapping class="com.trade.database.pojo.Bet" />
        <mapping class="com.trade.database.pojo.Orderstatus" />
    </session-factory>
</hibernate-configuration>
